Ident(class)
Ident(Button)
Symbol({)
Symbol(@)
Ident(size)
Ident(small)
Symbol(|)
Ident(medium)
Symbol(|)
Ident(large)
Symbol(=)
Ident(large)
Symbol(@)
Ident(color)
Ident(neutral)
Symbol(|)
Ident(danger)
Symbol(|)
Ident(warning)
Symbol(|)
Ident(success)
Symbol(=)
Ident(neutral)
Ident(background)
Symbol(-)
Ident(color)
Symbol(:)
Ident(red)
Symbol(;)
Symbol(})