.core-Card {
  padding: 1rem;
  background-color: white;
}
.core-Card__image {
  border: 2px solid red;
}
.core-Card__body {}
.ui-Card {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
}
.ui-Card__image {
  border: 2px solid red;
}
.ui-Card__body {}
.ui-Button {
  display: inline-flex;
  align-item: center;
  padding: .5rem 1rem;
  background-color: blue;
}
