.global-Something {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  border: 1px solid black;
}
.global-Something__image {
  border: 2px solid red;
}
.global-Something__body {}
.core-Card {
  padding: 1rem;
  background-color: white;
}
.core-Card__image {
  border: 2px solid red;
}
.core-Card__body {}
.ui-Card {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
}
.ui-Card__image {
  border: 2px solid red;
}
.ui-Card__body {}
.ui-Button {
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: blue;
}
.app-SuperCard {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  color: blue;
}
.app-SuperCard__image {
  border: 2px solid red;
  opacity: .2;
}
.app-SuperCard__body {}
